<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>人才管理系统</title>
    <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">

    <link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">
    <link href="iconfont/iconfont.css" th:href="@{/iconfont/iconfont.css}" rel="stylesheet">
</head>
<body>
<div th:replace="nav/bar::topbar"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="nav/bar::#sidebartwo(activeUri='emplist')"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <form th:action="@{/emp}" method="post">
                <input type="hidden" name="_method" value="put" th:if="${emp!=null}"/>
                <input type="hidden" name="id" th:if="${emp!=null}" th:value="${emp.id}">
                <div class="form-group">
                    <label>姓名</label>
                    <input name="name" type="text" class="form-control" placeholder="xiaohong" th:value="${emp!=null}?${emp.name}">
                </div>
                <div class="form-group">
                    <label>性别</label><br/>
                    <label>
                        <select class="form-control" name="gender">
                            <option th:text="男"></option>
                            <option th:text="女"></option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label>年龄</label><br/>
                    <input name="age" id="age" type="text" class="form-control" placeholder="35" th:value="${emp!=null}?${emp.age}">
                </div>
                <div class="form-group">
                    <label>出生日期</label>
                    <input name="birthday" type="text" class="form-control" placeholder="1999-02-15" th:value="${emp!=null}?${#dates.format(emp.birthday, 'yyyy-MM-dd')}">
                </div>
                <div class="form-group">
                    <label>联系电话</label>
                    <input name="phone" type="text" class="form-control" placeholder="" th:value="${emp!=null}?${emp.phone}">
                </div>
                <div class="form-group">
                    <label>身份证号</label>
                    <input name="IDCard" id="IDCard" type="text" class="form-control" placeholder="" th:value="${emp!=null}?${emp.idcard}">
                </div>
                <button type="submit" class="btn btn-primary" th:text="${emp!=null}?'修改':'添加'">添加</button>
            </form>
        </main>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.0/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.14.3/dist/popper.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.1-1/js/bootstrap.js}"></script>

</body>
</html>