<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.togogo.mapper.NoticeMapper">
    <select id="getNoticeById" resultType="net.togogo.bean.Notice">
        select * from notice where id=#{id}
    </select>
    <select id="getNotice" resultType="net.togogo.bean.Notice">
        select * from notice
    </select>
    <select id="selectByName" resultType="net.togogo.bean.Notice">
        select * from notice where title like CONCAT('%', #{name}, '%')
    </select>
    <delete id="deleteNotice">
        delete from notice where id=#{id}
    </delete>

    <insert id="addNotice" parameterType="net.togogo.bean.Notice">
        insert into notice (id, title, content, time)
        values (#{id}, #{title}, #{content}, #{time})
    </insert>

    <update id="updateNotice" parameterType="net.togogo.bean.Notice">
        update notice
        set title = #{title},
            content = #{content},
            time = #{time}
        where id = #{id}
    </update>
    <select id="selectByTime" resultType="net.togogo.bean.Notice">
        select * from notice order by time desc limit 1
    </select>
</mapper>